[client]
user = root
password = {{ db_root_password }}
socket = /var/run/mysqld/mysqld.sock

[mysql]
user = root
password = {{ db_root_password }}

[mysqldump]
user = root
password = {{ db_root_password }}
